.button{
    border: 0.1rem solid var(--c4);
    padding: 1rem 2rem;
    width: fit-content;
    margin: 0 auto;
    transition: all 0.5s;
}

.button:hover{
    background: var(--c3);
    color: var(--c2)
}

a.button:hover{
    text-decoration: none;
}

.innerlinks{
    display: flex;
    gap: 3rem;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--c3);
    transition: all 0.3s ease-in-out;
    margin: 0.3rem auto;
}

.ham{
    display: none;
}

/* media queries */
@media (max-width: 850px){
    .ham{
        display: block;
        cursor: pointer;
    }

    .innerlinks{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        transition: 0.3s ease-in-out;
        position: fixed;
        top: 4rem;
        width: 100%;
        left: 100vh;
        background-color: inherit;
        padding: 10rem 0 25rem 0;
    }/* Now it is actually hidden */

    .innerlinks.active{
        left: 0;
    }

    .ham.active .bar:nth-child(2){
        display: none;
    }

    .ham.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }

    .button{
        border: none;
        padding: 0;
        width: auto;
        margin: 0 auto;
        transition: none;
    }
}