.button{
    border: 0.1rem solid var(--c4);
    padding: 1rem 2rem;
    width: fit-content;
    margin: 0 auto;
    transition: all 0.5s;
}

.button:hover{
    background: var(--c3);
    color: var(--c2)
}

a.button:hover{
    text-decoration: none;
}

.innerlinks{
    display: flex;
    gap: 3rem;
}/* this is open when the screen is wider than 850px */


.toggle_icon{
    display: none;
}

/* media queries */
@media (max-width: 850px){
    .innerlinks{
        display: none;
    }/* Now it is actually closed */

    .toggle_icon{
        display: block;
        position: fixed;
        top: 2.35rem;
        right: 2.1rem;
    }

    .innerlinks.expanded{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: 0;
        right: 0;
        background-color: inherit;
        padding-top: 10vh;
        padding-left: 0;
    }
}