.button{
    border: 0.1rem solid var(--c4);
    padding: 1rem 2rem;
    width: fit-content;
    margin: 0 auto;
    transition: all 0.5s;
}

.button:hover{
    background: var(--c3);
    color: var(--c2)
}

a.button:hover{
    text-decoration: none;
}

/* page links styles */
.pagelinks{
    display:flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--c2);
    z-index: 10;
}

.innerlinks{
    display: flex;
    gap: 3rem;
}